*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
  background-color: white; 
  height: 1000px;
}

/* main design start now */
.contrainer{}

/* Header section */
#header{
    width: 100%;
    height: 74px;
    box-shadow: 5px 5px 10px #41414185;
    }
.logo{
    float: left;
}
.logo img {
    width: 180px;
    margin-left: 163px;
}

.menu{
    float: right;
    margin-right: 163px;
    margin-top: 24px;
    
}

.menu ul li {
    display: inline;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Cutive', sens-serif;
    text-transform: uppercase;
    position: relative;
}

.menu ul li a:hover{
    color: rgb(7, 186, 218);
    border-bottom:3px solid;
    padding-bottom: 5px;
}

.active-menu{
    color: rgb(7, 186, 218) !important;
    border-bottom:3px solid;
    padding-bottom: 5px;
}

/* drop down menu */
.drop-down{
    position: absolute;
    background: #052f5f;
    margin-top: 5px;
    margin-left: 120px;
    display: none;
}
.drop-down li a{
    display: list-item;
    list-style: none;
    color: #fff !important;
    padding: 2px 20px;
    width: 200px;
    
}
.services{
    position: relative;
}

.services:hover .drop-down{
    display: block;
    z-index: 1;
}


/* Sub-sub menu */
.sub-drop-down{
    position: absolute;
    background: #055f5b;
    margin-top: -10px;
    margin-left: 183px;
    display: none;
}
.sub-drop-down li a{
    display: list-item;
    list-style: none;
    color: #fff !important;
    padding: 2px 20px;
   
    
}
.graphics:hover .sub-drop-down{
    display: block;
}

.circle1{
    width: 150px;
    height: 150px;
    background: green;
    border-radius: 50%;
    margin-left: 200px;
}
.circle2{
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 200px;

}
.circle3{
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 200px;

}